#FullBody
{
	border:none;
}
#FullBigotitle
{
	font-size: 25px;
	color: #757575;
}
#changPtable
{
	border-radius: 5px;
	border:solid 1px #bbbbbb;
	width: 100%;


}
#changPtable tr td
{
	clear: both;
	text-align: center;
}

.cPassInput
{
	height: 50px;
	border-radius: 5px;
	border:solid 1px #bbbbbb;
	width: 94%;
	/*margin-left:  0.9%;*/
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 4%;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cPassInput:focus
{

	border:solid 1px #fb2e2e;
	background: #fff3f3;
	outline: none;
	caret-color: #fb2e2e;
}
.input-button{
	margin: 0 auto;
	width: 100%;
	height: 50px;
	text-align: center;
	display: table;
	background-color: #fff;
	border-color: #edab20;
	border-width: 1px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 5px;
	background-image: url("http://m.lotzx.com/hun/assets/library/img/submit-login.png");
	background-size: 100% 100%;
}

@media (min-device-width:0px) and (max-device-width:320px)
{
	 .cPassInput
	{
		height: 50px;
		border-radius: 5px;
		border:solid 1px #bbbbbb;
		width: 90%;
		/*margin-left:  1%;*/
		margin-top: 3px;
		margin-bottom: 3px;
		padding-left: 4%;
	}
}

@media all and (orientation: landscape) 
{
	#mainFullContain {
	    width: 100%;
	     overflow-y: auto; 
	     -webkit-overflow-scrolling: touch; 
	}
}