body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
       
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


.swiper-pagination
{
    position: relative;
}
.swiper-pagination-clickable .swiper-pagination-bullet
{
    margin:5px;
    margin-top: 15px;
}
.swiper-pagination-bullet
{
background: none;
  width: 30px;
  height: 30px;
  background: url(../img/icon_redio_u.png) no-repeat center;
  background-size: 30px 30px;
}
.swiper-pagination-bullet-active
{
  background: none;
  width: 30px;
  height: 30px;
  background: url(../img/icon_redio_s1.png) no-repeat center;
  background-size: 30px 30px;
}
.swiper-slide{
  background: #e1e0e0;
  /*overflow-y:auto;
  -webkit-overflow-scrolling: touch;*/

}
.swiper-slide
{
 margin-top: 20px;
 -webkit-align-items: flex-start; 
  align-items: flex-start; 
}
.swiperBox
{
  width: 30%;
  display: inline-block;

}


.swiper-slide
{
  /*height: 200px!important;*/
  overflow-x: auto!important;
}


@media (min-device-width:0px) and (max-device-width:320px)
{
  .swiperBox
  {
    width: 30%;
    font-size: 11px;
  }
}

@media all and (orientation: landscape) 
{
    .swiper-container {
        width: 100%;
    }

   #includePage1 {
    height: 100%!important;
  }
  #Bingo9
  {
    margin-bottom: 50px;
  }
} 