:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
  overflow-x:hidden 
}
.ui-mobile .ui-page
{
	min-height: 0px!important;
	height: inherit;
}
#loading
{
	width: 40px;
	position: absolute;
	z-index: 2000;
	left: 45%;
	top: 48%;
	display: none;
}
#loading { 
    -moz-animation:1s rotateRight infinite linear; 
    -webkit-animation:1s rotateRight infinite linear; 
}



@-moz-keyframes rotateRight{
    0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
    100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
    0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotate(360deg); }
}

