.logo {
		width: 170px;
		padding: 0 10px;
		margin-top: 20px;
  	}
  	.logo img {
  		width: 100%;
  	}

  	.w-container {
    	width: 96%;
    	max-width: 940px!important;
    	margin: 0 auto;
    }

    .contentBox {
    	margin-bottom: 10px;
    }

    h3.title {
    	text-align: center;
    }

    #ccontent form {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }

    .input-wrapper {
      /*display: flex;*/
      padding: 2px 0;
    }

    .input-wrapper span {
      line-height: 30px;
    }

    .input-wrapper .lb {
    	min-width: 130px;
    	text-align: right;
    	font-weight: bold;
    	padding-right: 10px;
    }

    .input-wrapper .ip {
    	flex: 1;
    }

	.input-wrapper .ip input,
	.input-wrapper .ip select {
    	width: 100%;
    	border: 1px solid #777;
    	background-color: #fff;
    	height: 30px;
    	padding: 0 10px;
    }

    .input-wrapper .ip.uname {
      font-weight: bold;
      color: #1565C0;
    }

    .warning {
    	color: #f00;
    	margin: 4px 0;
    	width: 100%;
    	text-align: center;
    }

    .red-bt {
    	background-color: #D32F2F;
    	line-height: 36px;
    	color: #fff;
    	text-shadow: 1px 1px 1px #4f1515;
    	border: 2px solid #e7ca71;
    	width: 100%;
    	margin: 0 auto;
      cursor: pointer;
    }

    .red-bt:hover {
    	background-color: #b22525;
    }
    
    @media only screen and (min-width: 500px) {
      .input-wrapper {
        display: flex;
      }
      .red-bt {
        width: auto;
        min-width: 200px;
      }
    }