 html,body{margin:0px;padding:0px;}
.warper{ 
    font-size: 1.1em;
    font-family: Tahoma;
    color: #2A2A2A;
}
.ruleinnerwraper{
  width: 800px;
  margin: 0 auto; 
}
.htitle{
     font-size: 1.2em; 
}
ol.listwarn_list { 
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
    counter-reset: li-counter;
}
ol.listwarn_list li.liroot {
    position: relative;
    margin-bottom: 20px;
    line-height: 1.5;
    padding:0 0.5em 0 0.5em ; 
    word-break: break-word;
}